* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  color: white;
  background: url(../img/texture-1893783_1920.jpg);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #191919;
  border-radius: 7px;
}

@media (max-width: 700px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

.header-nav {
  background: #191919;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.header-nav .home {
  color: white;
  line-height: 50px;
  margin: 0 20px;
  font-size: 10.5px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.header-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  max-width: 1200px;
  margin: auto;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}

.search i {
  line-height: 32px;
  font-size: 17px;
  color: #8a8a8a;
  position: absolute;
  right: 9px;
}

input[type="text"] {
  height: 13px;
  outline: 0;
  font-size: 13px;
  width: 270px;
  color: black;
  margin: auto 0;
  background-color: white;
  padding: 7px 30px 7px 10px;
  border-radius: 5px;
  border: 1px solid #000000;
}

input[type="text"]::-webkit-input-placeholder {
  color: #8a8a8a;
}

input[type="text"]:-ms-input-placeholder {
  color: #8a8a8a;
}

input[type="text"]::-ms-input-placeholder {
  color: #8a8a8a;
}

input[type="text"]::placeholder {
  color: #8a8a8a;
}

input[type="text"]:focus {
  border: 1px solid #000000;
}

.btn-plus {
  height: 32px;
  width: 32px;
  margin: auto 30px;
  border: 0;
  background: transparent;
  color: white;
  border-radius: 3px;
  font-size: 25px;
  line-height: 32px;
  cursor: pointer;
  position: relative;
}

.btn-plus:hover {
  background: #242526;
}

.tootip {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #5d5d5d;
  display: none;
  font-size: 12px;
  position: absolute;
  right: 290px;
  padding: 6px;
  border-radius: 4px;
  color: whitesmoke;
  z-index: 999;
}

.tootip span {
  background: #242526;
  padding: 1px 4px;
  display: inline-block;
  border-radius: 2px;
  margin-left: 3px;
}

.tootip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #5d5d5d transparent;
}

.tootip.active {
  opacity: 0;
  -webkit-animation: tooltip .2s .01s;
          animation: tooltip .2s .01s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes tooltip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tooltip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .header-nav .home {
    margin: 0 15px;
  }
  input[type="text"] {
    width: 110px;
  }
  .btn-plus {
    margin: auto 20px;
  }
}

.overflow {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #00000073;
  top: 0;
  overflow: hidden;
  left: 0;
  right: 0;
  z-index: 101;
}

.overflow.active {
  display: block;
}

.paneladd {
  display: none;
  width: calc(100vw - 10px);
  max-width: 580px;
  border-radius: 3px;
  background: #191919;
  height: 220px;
  position: absolute;
  -webkit-transform: translate(calc(-50% - 5px), -50%);
          transform: translate(calc(-50% - 5px), -50%);
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  margin: 0 5px;
  border: 1px solid #383a3c;
  z-index: 102;
}

.paneladd.active {
  display: block;
}

.addTask {
  padding: 20px;
}

.btnadd {
  line-height: 35px;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-addtask {
  padding: 0.6rem 1.4rem;
  background-color: #242526;
  color: #fff;
  border: 0;
  border-radius: 2px;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  float: right;
  margin-top: 9px;
}

.btn-addtask:hover {
  background: #383a3cdb;
}

textarea {
  color: #dadada;
  resize: none;
  width: 100%;
  height: 100px;
  background-color: #242526;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
}

textarea:focus {
  outline: none;
  border: 1px solid #000000;
}

@media (max-width: 754px) {
  .paneladd.active {
    top: 190px;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 50px);
  background: #00000026;
}

.menu-panel {
  border-right: 1px solid #000000;
}

.content-panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  overflow-y: auto;
  max-width: 850px;
}

.NoTask {
  font-size: 200px;
  text-shadow: 0 0 6px black;
  text-align: center;
  margin-top: 100px;
}

.NoTask p {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin-top: 20px;
}

.header-content {
  padding: 36px 10px 8px;
  font-size: 21px;
  text-transform: uppercase;
  text-shadow: -1px -1px 2px black;
}

.task {
  max-width: 640px;
  width: calc(100% - 20px);
  border: 1px solid #000000;
  border-radius: 9px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
  font-size: 15px;
  word-break: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #191919;
}

.task p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 12px;
  margin: auto 13px;
}

.circe {
  background: transparent;
  height: 23px;
  min-width: 23px;
  border-radius: 100px;
  border: 0;
  margin: 1px;
  cursor: pointer;
  border: 1px solid #000;
  color: #ffffff00;
  font-size: 15px;
  line-height: 100%;
  margin: auto 0;
  background: white;
}

.circe:focus {
  outline: 0;
}

.circe:hover {
  color: black;
}

.report-task {
  width: 250px;
  background: #242526;
  position: fixed;
  bottom: -35px;
  z-index: 300;
  left: calc(50% - 125px);
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.report-task.active {
  bottom: 20px;
  opacity: 1;
}

.fa-trash-alt {
  float: right;
  font-size: 20px;
  line-height: 24px !important;
  color: white;
  cursor: pointer;
  margin: auto 0;
}

.fa-trash-alt:hover {
  color: #242526;
}

@media (max-width: 700px) {
  .menu-panel {
    width: 0px;
  }
}
/*# sourceMappingURL=main.css.map */