main
    display: flex
    height: calc(100vh - 50px)
    background: #191919
.menu-panel
    // width: 300px
    border-right: 1px solid #000000
    background: #151515
.content-panel
    flex-grow: 1
    margin: 0 auto
    overflow-y: auto
    max-width: 850px
footer
    position: absolute
    bottom: 0
    text-align: center
    margin: auto
    left: 0
    right: 0
    font-size: 20px
    padding: 10px
    color: #c0c0c0
