.header-nav
    background: #191919
    height: 50px
    display: flex
    position: relative
    z-index: 100
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.5)
    .home
        color: white
        line-height: 50px
        margin: 0 20px
        font-size: 10.5px
        text-transform: uppercase
        cursor: pointer
        text-decoration: none
.header-contain
    display: flex
    justify-content: space-between
    width: 100vw
    max-width: 1200px
    margin: auto
.search
    display: flex
    flex-direction: row-reverse
    position: relative
    i
        line-height: 32px
        font-size: 17px
        color: #8a8a8a
        position: absolute
        right: 9px
input[type="text"]
    height: 13px
    outline: 0
    font-size: 13px
    width: 270px
    color: black
    margin: auto 0
    background-color: white
    padding: 7px 30px 7px 10px
    border-radius: 5px
    border: 1px solid #000000
    &::placeholder
        color: #8a8a8a
    &:focus
        border: 1px solid #000000
.btn-plus
    height: 32px
    width: 32px
    margin: auto 30px
    border: 0
    background: transparent
    color: white
    border-radius: 3px
    font-size: 25px
    line-height: 32px
    cursor: pointer
    position: relative
    &:hover
        background: #242526
.tootip
    width: max-content
    background: #5d5d5d
    display: none
    font-size: 12px
    position: absolute
    right: 290px
    padding: 6px
    border-radius: 4px
    color: whitesmoke
    z-index: 999
    span
        background: #242526
        padding: 1px 4px
        margin-left:
        display: inline-block
        border-radius: 2px
        margin-left: 3px
    &::before
        content: ""
        position: absolute
        bottom: 100%
        left: 50%
        margin-left: -7px
        border-width: 7px
        border-style: solid
        border-color: transparent transparent#5d5d5d transparent
    &.active
        opacity: 0
        animation: tooltip .2s .01s
        animation-fill-mode: forwards
@keyframes tooltip
    0%
        opacity: 0
    100%
        opacity: 1

@media (max-width: 700px)
    .header-nav
        .home
            margin: 0 15px
    input[type="text"]
        width: 110px
    .btn-plus
        margin: auto 20px
