
.header-content
    padding: 36px 10px 8px
    font-size: 20px
    text-transform: uppercase

.task
    max-width: 640px
    width: calc(100% - 20px)
    border: 1px solid #000000
    border-radius: 9px
    padding: 12px
    -webkit-box-sizing: border-box
    box-sizing: border-box
    margin: 10px 0
    font-size: 15px
    word-break: break-word
    display: flex

    p
        flex-grow: 1
        margin-left: 12px
        margin: auto 13px
.circe
    background: transparent
    height: 23px
    min-width: 23px
    border-radius: 100px
    border: 0
    margin: 1px
    cursor: pointer
    border: 1px solid #000
    color: #ffffff00
    font-size: 15px
    line-height: 100%
    margin: auto 0
    &:focus
        outline: 0
    &:hover
        background: #5965ff
        color: black
.report-task
    width: 250px
    background: #5965ff
    position: fixed
    bottom: -35px
    z-index: 300
    left: calc(50% - 125px)
    border-radius: 6px
    line-height: 35px
    text-align: center
    text-transform: uppercase
    font-size: 14px
    transition: .3s
    margin: 0 0 -35px 0
    &.active
        bottom: 20px
.fa-trash-alt
    float: right
    font-size: 20px
    line-height: 24px !important
    color: white
    cursor: pointer
    margin: auto 0
    &:hover
        color: #5966ff
@media (max-width: 700px)
    .menu-panel
        width: 0px
